#main {
    color:#fff;
    text-align: center;
    background: linear-gradient(45deg, rgba(222, 30, 30, 0.3) , rgba(0,0,0,0.3)) ,url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* padding : inner space */
    /* padding-left: 20px;
    padding-top: 10px ;
    padding-right:  30px;
    padding-bottom: 40px; */

    /* t-r-b-l */
    padding: 20px;
    /* t-b , l-r */
    /* padding: 20px 40px; */
    /* t ,l-r , b */
    /* padding: 20px 40px 60px; */
    /* t ,r , b ,l*/
    /* padding: 20px 40px 60px 100px; */

    /* margin : inner space */
    
    /* margin-left: 20px;
    margin-top: 10px ;
    margin-right:  30px;
    margin-bottom: 40px; */

    /* t-r-b-l */
    margin: 20px;
    /* t-b , l-r */
    /* margin: 20px 40px; */
    /* t ,l-r , b */
    /* margin: 20px 40px 60px; */
    /* t ,r , b ,l*/
    /* margin: 20px 40px 60px 100px; */


    /* border */

    /* border-color:red;
    border-width: 20px;
    border-style: solid; */


    /* width ,  style , color */
    /* border: 20px solid red;

    border-top: 20px dotted grey;
    border-left: 20px dashed green;
    border-right: 20px double yellow;
    border-bottom: 20px solid black; */

}

#main img{
    box-shadow: -4px 0 4px 0 black ;
    width:200px;
    border-radius: 50%;
}

