.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.roll {
  animation-name: roll;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
  animation-duration: 500ms;
}
h4 {
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

@keyframes roll {
  0% {
    transform: scale(1) rotate(0);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
    filter: drop-shadow(0 0 10px #ccc);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
